<section class="contact" @gridAnimation>
    <h2>Contact Me</h2>
    <div class="contact-info">
      <div class="contact-item card">
        <img src="assets/images/emaillogo.jpg" alt="Email">
        <p><a href="mailto:vishalmishra5544&#64;gmail.com">E-MAIL</a></p>
      </div>
      <div class="contact-item card">
        <img src="assets/images/linkedin.png" alt="LinkedIn">
        <p><a href="https://linkedin.com/in/vishal-mishra-30219917a" target="_blank">LinkedIn</a></p>
      </div>
       <div class="contact-item card">
        <img src="assets/images/instagram.jpg" alt="Instagram">
        <p><a href="https://www.instagram.com/vishalmishra5544" target="_blank">Instagram</a></p>
      </div>
      <div class="contact-item card">
        <img src="assets/images/github.png" alt="GitHub">
        <p><a href="https://github.com/vishalmishra5544" target="_blank">GitHub</a></p>
      </div>
       <div class="contact-item card">
        <img src="assets/images/peerlist.jpg" alt="Peerlist">
        <p><a href="https://peerlist.io/vishalmishra54" target="_blank">Peerlist</a></p>
      </div>
    </div>
  </section>