<section class="contact" @gridAnimation>
    <h2>Contact Me</h2>
    <div class="contact-info">
      <div class="contact-item card">
        <img src="assets/images/emaillogo.jpg" alt="Email">
        <p><a href="mailto:vishalmishra5544&#64;gmail.com">vishalmishra5544&#64;gmail.com</a></p>
      </div>
      <div class="contact-item card">
        <img src="assets/images/phone.jpg" alt="Phone">
        <p><a href="tel:+919082300330">+91 9082300330</a></p>
      </div>
      <div class="contact-item card">
        <img src="assets/images/linkedin.png" alt="LinkedIn">
        <p><a href="https://linkedin.com/in/vishal-mishra-30219917a" target="_blank">LinkedIn</a></p>
      </div>
      <div class="contact-item card">
        <img src="assets/images/github.png" alt="GitHub">
        <p><a href="https://github.com/vishalmishra5544" target="_blank">GitHub</a></p>
      </div>
    </div>
  </section>