<header @fadeIn>
  <nav>
    <h1>Vishal Mishra</h1>
    <ul>
      <li><a routerLink="/" (click)="setActiveLink('home')" [class.active]="activeLink === 'home'">Home</a></li>
      <li><a routerLink="/career" (click)="setActiveLink('career')" [class.active]="activeLink === 'career'">Career</a></li>
      <li><a routerLink="/achievements" (click)="setActiveLink('achievements')" [class.active]="activeLink === 'achievements'">Achievements</a></li>
      <li><a routerLink="/projects" (click)="setActiveLink('projects')" [class.active]="activeLink === 'projects'">Projects</a></li>
      <li><a routerLink="/education" (click)="setActiveLink('education')" [class.active]="activeLink === 'education'">Education</a></li>
      <li><a routerLink="/interests" (click)="setActiveLink('interests')" [class.active]="activeLink === 'interests'">Interests</a></li>
      <li><a routerLink="/contact" (click)="setActiveLink('contact')" [class.active]="activeLink === 'contact'">Contact</a></li>
    </ul>
  </nav>
</header>