<section class="coding-profile">
  <h2>My Coding Profiles</h2>
  <div class="profile-grid">
    <div class="profile card" #profileCard
         [@cardHover]="hoverStates[1] ? 'hovered' : 'default'"
         (mouseenter)="setHoverState(1, true)"
         (mouseleave)="setHoverState(1, false)"
         (touchstart)="setHoverState(1, true)"
         (touchend)="setHoverState(1, false)">
      <div class="image-wrapper">
        <img src="assets/images/gfglogo.jpg" alt="GeeksForGeeks" class="spin-on-hover">
      </div>
      <h3><a href="https://www.geeksforgeeks.org/user/vishalmishra5544/" target="_blank" >GeeksForGeeks</a></h3>
      <p>Solved 500+ problems, ranked top 2 in institute level ranking.</p>
    </div>
    <div class="profile card" #profileCard
         [@cardHover]="hoverStates[2] ? 'hovered' : 'default'"
         (mouseenter)="setHoverState(2, true)"
         (mouseleave)="setHoverState(2, false)"
         (touchstart)="setHoverState(2, true)"
         (touchend)="setHoverState(2, false)">
      <div class="image-wrapper">
        <img src="assets/images/codeforceslogo.png" alt="Codeforces" class="spin-on-hover">
      </div>
      <h3><a href="https://codeforces.com/profile/vishalmishra5544" target = "_blank">Codeforces</a></h3>
      <p>Max Rating of 935.</p>
    </div>
    <div class="profile card" #profileCard
         [@cardHover]="hoverStates[4] ? 'hovered' : 'default'"
         (mouseenter)="setHoverState(4, true)"
         (mouseleave)="setHoverState(4, false)"
         (touchstart)="setHoverState(4, true)"
         (touchend)="setHoverState(4, false)">
      <div class="image-wrapper">
        <img src="assets/images/hackerranklogo.png" alt="HackerRank" class="spin-on-hover">
      </div>
      <h3><a href="https://www.hackerrank.com/profile/vishalmishra5544" target="_blank">HackerRank</a></h3>
      <p>5-star in Problem Solving in C++,Java.</p>
    </div>
    <div class="profile card" #profileCard
         [@cardHover]="hoverStates[0] ? 'hovered' : 'default'"
         (mouseenter)="setHoverState(0, true)"
         (mouseleave)="setHoverState(0, false)"
         (touchstart)="setHoverState(0, true)"
         (touchend)="setHoverState(0, false)">
      <div class="image-wrapper">
        <img src="assets/images/leetcodelogo.png" alt="LeetCode" class="spin-on-hover">
      </div>
      <h3><a href="https://leetcode.com/u/vishal_mishra5/" target="_blank">LeetCode</a></h3>
      <p>Contest rating 1,488.</p>
    </div> 
    <div class="profile card" #profileCard
         [@cardHover]="hoverStates[3] ? 'hovered' : 'default'"
         (mouseenter)="setHoverState(3, true)"
         (mouseleave)="setHoverState(3, false)"
         (touchstart)="setHoverState(3, true)"
         (touchend)="setHoverState(3, false)">
      <div class="image-wrapper">
        <img src="assets/images/codecheflogo.jpg" alt="CodeChef" class="spin-on-hover">
      </div>
      <h3><a href="https://www.codechef.com/users/vishal_mishra5" target="_blank">CodeChef</a></h3>
      <p>Max rating 1281.</p>
    </div>
    
  </div>
    
</section>