<section class="projects">
    <h2>My Projects</h2>
    <div class="project-grid">
      <div class="project card" @cardAnimation>
        <h3><a href="https://github.com/vishalmishra5544/MY_E-Classroom" target = "_blank">My E-Classroom</a></h3>
        <p>Crafted a learning management system(LMS) to facilitate online teaching and learning along with online quiz test feature.</p>
      </div>
      <div class="project card" @cardAnimation>
        <h3><a href="https://vishalmishra5544.github.io/mymedihelper-.github.io/" target = "_blank">My Medi Helper</a></h3>
        <p>Developed a e-pharma software system to allow fetching local shops details,medicine details via entering just pincode</p>
      </div>            
    </div>
  </section>