<section class="education">
    <h2>My Education</h2>
    <div class="edu-item card" @cardAnimation>
      <img src="assets/images/university.jpg" alt="University">
      <div class="details">
        <h3>B.E. Computer Engineering</h3>
        <p><strong>Atharva College, Mumbai</strong> | 2019-2023</p>
        <p>GPA: 9.6/10</p>
      </div>
    </div>
    <div class="edu-item card" @cardAnimation>
      <img src="assets/images/college.jpg" alt="College">
      <div class="details">
        <h3>H.S.C. (12th)</h3>
        <p><strong>Navneet Jr. College, Mumbai</strong> | 2018-2019</p>
        <p>79.38%</p>
      </div>
    </div>
    <div class="edu-item card" @cardAnimation>
      <img src="assets/images/school.jpg" alt="School">
      <div class="details">
        <h3>S.S.C. (10th)</h3>
        <p><strong>Manav Mandir High School, Mumbai</strong> | 2016-2017</p>
        <p>93.20%</p>
      </div>
    </div>
  </section>